.course-img {
    width: 25rem;
    height: 17rem;
    border-radius: 2rem;
}

.course-syllabus {
    width: 40rem;
}

@media (max-width:480px) {
    .course-title {
        font-size: 1.5rem;
    }

    .course-language {
        font-size: 1rem;
    }

    .course-des {
        font-size: 1rem;
    }

    .course-img {
        width: 20rem;
        height: 7rem;
        border-radius: 2rem;
    }

    .contain {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 28.5rem;
        height: 35rem;
    }

    .course-syllabus {
        margin-left: 1rem;
        width: 20rem;
    }

    .course-s {
        flex-direction: column;
    }
}

