.Logo {
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
}

.Company-Name {
    font-family: 'Alkatra', cursive;
}

.nav-2 {
    background-color: #333;
}

@media(max-width:480px){
    .screen-toggle{
        display: flex;
        flex-direction: row;
    }
    .small-s{
        margin-right: 0.6rem;
    }
}